#app {
  background-color: #909090;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 100%;
  margin: 50px auto;
  max-width: 600px;
  min-width: 400px;
  padding: 20px;
  width: 50%;
}
